body{
	background-color: orange;
	text-align: center;
}

.jumbotron{
	background-color: grey;
	color: white;
}

h1{
	color: black;
	font-size: 20px;
}

li {
	padding: 5px;
	margin: 5px;
	background: #faebd7;
  }

.create-form {
padding: 5px;
margin: 5px;
background: aqua;
}

.form-group {
margin-bottom: 5px;
}