body{
	background-image: url(../img/2959460.jpg);
	background-size: cover;
	text-align: center;
}

.jumbotron{
    background-color: #FBED46;
    background-position: center;
}

h1{
	color: black;

}

li {
	padding: 5px;
	margin: 5px;
	background: #faebd7;
  }

.create-form {
padding: 5px;
margin: 5px;
background: gray;
}

.form-group {
margin-bottom: 5px;
}